<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}Estuda Ai{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/base.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>

<body>

    <header>
        <div class="topo">
            <div class="left-topo">
                <img class="logo-topo" src="/static/videos/logosemtexto.png">
                <h1 class="texto-p">Estuda Ai</h1>
            </div>
            <div class="barra-pesquisa">
                <i class="fas fa-search procurar-topo"></i>
                <input class="input-topo" type="text" placeholder="Buscar vídeos educativos...">
            </div>
            <div class="nav-topo">
                <i class="fas fa-bars icon-menu"></i>
            </div>
        </div>
    </header>
    <div class="overlay" id="overlay"></div>

    <div class="menu-lateral" id="menuLateral">
        <div class="topo-menu">
            <span class="fechar-menu" id="fecharMenu">&times;</span>

            <div class="perfil-menu">
                <div class="foto-perfil">
                    <img class="foto-perfil" src="{{ url_for('static', filename='fotos/' + usuario.foto) }}"
                    alt="Foto de Perfil">
                </div>
                <p class="nome-perfil">{{ usuario.username }}</p>
            </div>
        </div>

        <ul class="icons-cards">
            <li class="icons-menu {% if pagina_atual == 'index' %}ativo{% endif %}">
                <a href="/index"><i data-lucide="home"></i> Início</a>
            </li>
            <li class="icons-menu {% if pagina_atual == 'calendario' %}ativo{% endif %}">
                <a href="/calendario"><i data-lucide="calendar"></i> Cronograma</a>
            </li>
            <li class="icons-menu {% if pagina_atual == 'salvos' %}ativo{% endif %}">
                <a href="/salvos"><i data-lucide="bookmark"></i> Salvos</a>
            </li>
            <li class="icons-menu {% if pagina_atual == 'perfil' %}ativo{% endif %}">
                <a href="/perfil"><i data-lucide="user"></i> Perfil</a>
            </li>
        </ul>

        <div class="sair-menu">
            <a href="/logout">
                <i data-lucide="log-out"></i> Sair
            </a>
        </div>
    </div>

    <main>
        {% block content %}
        <!-- Conteúdo da página -->
        {% endblock %}
    </main>
    <script src='/static/js/filtrovideos.js'></script>
    <script src='/static/js/videoplayer.js'></script>
    <script src='/static/js/menulateral.js'></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    {% block extra_scripts %}
    {% endblock %}
</body>

</html>