{% extends "base.html" %}

{% block title %}Estuda Ai{% endblock %}

{% block content %}
<div class="nav-reels">
    <div class="navegacao-reels">
        <p class="texto-nav">Todos</p>
    </div>
    <div class="navegacao-reels">
        <p class="texto-nav">Matemática</p>
    </div>
    <div class="navegacao-reels">
        <p class="texto-nav">Ciências</p>
    </div>
    <div class="navegacao-reels">
        <p class="texto-nav">Idiomas</p>
    </div>
    <div class="navegacao-reels">
        <p class="texto-nav">História</p>
    </div>
    <div class="navegacao-reels">
        <p class="texto-nav">Tecnologia</p>
    </div>
</div>
<div class="cards-row">
    {% for video in videos %}
    <div class="video-card" data-id="{{ video.id }}" data-categoria="{{video.tipo_video}}">
        <div class="video-thumb">
            <video controls width="100%">
                <source src="{{ video.link_video }}" type="video/mp4">
                Seu navegador não suporta o vídeo.
            </video>
            <div class="controles-video">
                <button class="playPause"><i class="fas fa-play"></i></button>
            </div>
            <span class="tempo-video"></span>
            <span class="categoria-video">{{ video.tipo_video }}</span>
            <div class="favoritar-video {% if video.favorito %}favorito-ativo{% endif %}">
                <i class="{% if video.favorito %}fas{% else %}far{% endif %} fa-bookmark"></i>
            </div>
            <div class="favoritar-video {% if video.favorito %}favorito-ativo{% endif %}"
                data-id="{{ video.id }}">
                <i class="{% if video.favorito %}fas{% else %}far{% endif %} fa-bookmark"></i>
            </div>
        </div>
        <div class="info-video">
            <p class="titulo-video">{{ video.titulo }}</p>
            <p class="descricao-video">{{ video.descricao }}</p>
            <div class="autor-vizu">
                <p class="autor-video">{{ video.autor }}</p>
                <p class="vizu-video">{{ video.visualizacoes }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}