<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Estuda Ai</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/index.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="topo">
            <h1 class="texto-p">Estuda Ai</h1>
            <div class="nav-topo">
                <i class="fas fa-bars icon-menu"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="nav-reels">
            <div class="navegacao-reels">
                <p>Todos</p>
            </div>
            <div class="navegacao-reels">
                <p>Matemática</p>
            </div>
            <div class="navegacao-reels">
                <p>Ciências</p>
            </div>
            <div class="navegacao-reels">
                <p>Idiomas</p>
            </div>
            <div class="navegacao-reels">
                <p>História</p>
            </div>
            <div class="navegacao-reels">
                <p>Tecnologia</p>
            </div>
        </div>
    </main>
</body>
</html>
