<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Estuda Ai</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/index.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <header>
        <div class="topo">
            <div class="left-topo">
                <img class="logo-topo" src="/static/videos/logosemtexto.png">
                <h1 class="texto-p">Estuda Ai</h1>
            </div>
            <div class="barra-pesquisa">
                <i class="fas fa-search procurar-topo"></i>
                <input class="input-topo" type="text" placeholder="Buscar vídeos educativos...">
            </div>
            <div class="nav-topo">
                <i class="fas fa-bars icon-menu"></i>
            </div>
        </div>
    </header>
    <div class="overlay" id="overlay"></div>

    <div class="menu-lateral" id="menuLateral">
        <span class="fechar-menu" id="fecharMenu">&times;</span>
        <ul class="icons-cards">
            <div class="icons-menu">
                <li><a class="nome-menu" href="/index">Início</a></li>
                <i class="fa fa-home icons_"></i>
            </div>
            <div class="icons-menu">
                <li><a href="/calendario">Calendário</a></li>
                <i class="fa fa-calendar icons_"></i>
            </div>
            <div class="icons-menu">
                <li><a href="/salvos">Salvos</a></li>
                <i class="fa fa-bookmark icons_"></i>
            </div>
            <div class="icons-menu">
                <li><a href="/perfil">Perfil</a></li>
                <i class="fa fa-user icons_"></i>
            </div>
            <div class="icons-menu">
                <li><a href="/logout">Sair</a></li>
                <i class="fa fa-chevron-left icons_"></i>
            </div>
        </ul>
    </div>


    <main>
        <div class="nav-reels">
            <div class="navegacao-reels">
                <p class="texto-nav">Todos</p>
            </div>
            <div class="navegacao-reels">
                <p class="texto-nav">Matemática</p>
            </div>
            <div class="navegacao-reels">
                <p class="texto-nav">Ciências</p>
            </div>
            <div class="navegacao-reels">
                <p class="texto-nav">Idiomas</p>
            </div>
            <div class="navegacao-reels">
                <p class="texto-nav">História</p>
            </div>
            <div class="navegacao-reels">
                <p class="texto-nav">Tecnologia</p>
            </div>
        </div>
        <div class="cards-row">
            {% for video in videos %}
            <div class="video-card" data-id="{{ video.id }}" data-categoria="{{video.tipo_video}}">
                <div class="video-thumb">
                    <video controls width="100%">
                        <source src="{{ video.link_video }}" type="video/mp4">
                        Seu navegador não suporta o vídeo.
                    </video>
                    <div class="controles-video">
                        <button class="playPause"><i class="fas fa-play"></i></button>
                    </div>
                    <span class="tempo-video">{{ video.duracao_minutos }} min</span>
                    <span class="categoria-video">{{ video.tipo_video }}</span>
                    <div class="favoritar-video {% if video.favorito %}favorito-ativo{% endif %}">
                        <i class="{% if video.favorito %}fas{% else %}far{% endif %} fa-bookmark"></i>
                    </div>
                    <div class="favoritar-video {% if video.favorito %}favorito-ativo{% endif %}"
                        data-id="{{ video.id }}">
                        <i class="{% if video.favorito %}fas{% else %}far{% endif %} fa-bookmark"></i>
                    </div>



                </div>
                <div class="info-video">
                    <p class="titulo-video">{{ video.titulo }}</p>
                    <p class="descricao-video">{{ video.descricao }}</p>
                    <div class="autor-vizu">
                        <p class="autor-video">{{ video.autor }}</p>
                        <p class="vizu-video">{{ video.visualizacoes }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </main>
    <script src='/static/js/filtrovideos.js'></script>
    <script src='/static/js/videoplayer.js'></script>
    <script src='/static/js/menulateral.js'></script>
    <script src="/static/js/salvos.js"></script>

</body>

</html>