<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Estuda Ai</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/salvos.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    
    <header>
        <div class="topo">
            <h1 class="texto-p">Estuda Ai</h1>
            <div class="barra-pesquisa">
                <i class="fas fa-search procurar-topo"></i>
                <input class="input-topo" type="text" placeholder="Buscar vídeos educativos...">
            </div>
            <div class="nav-topo">
                <i class="fas fa-bars icon-menu"></i>
            </div>
        </div>
    </header>
    <div class="overlay" id="overlay"></div>

<div class="menu-lateral" id="menuLateral">
    <span class="fechar-menu" id="fecharMenu">&times;</span>
    <ul>
        <div class="icons-menu">
            <li><a href="/templates/index.html">Início</a></li>
            <i class="fa fa-home icons_"></i>
        </div>
        <div class="icons-menu">
            <li><a href="/templates/calendario.html">Calendário</a></li>
            <i class="fa fa-calendar icons_"></i>
        </div>
        <div class="icons-menu">
            <li><a href="/templates/salvos.html">Salvos</a></li>
            <i class="fa fa-bookmark icons_"></i>
        </div>
        <div class="icons-menu">
            <li><a href="/templates/perfil.html">Perfil</a></li>
            <i class="fa fa-user icons_"></i>
        </div>
        <div class="icons-menu">
            <li><a href="/templates/index.html">Sair</a></li>
            <i class="fa fa-chevron-left icons_"></i>
        </div>
    </ul>
</div>


    <main>
        <h2 class="h2-salvos">Seus Favoritos</h2>
        <p class="p-salvos">0 vídeos salvos</p>
        <div class="video-card">
            <div class="video-thumb">
                <video controls width="100%">
                    <source src="/videos/Download.mp4" type="video/mp4">
                     Seu navegador não suporta o vídeo.
                </video>
                <span class="tempo-video">1:30</span>
            </div>
            <div class="info-video">
                <p class="titulo-video">Equações do 2º Grau Simplificadas</p>
                <p class="descricao-video">Aprenda a resolver equações de forma rápida e eficiente</p>
                <div class="autor-vizu">
                    <p class="autor-video">Prof. Ana Silva</p>
                    <p class="vizu-video">12.5k visualizações</p>
                </div>
            </div>
        </div>
        <div class="sem-video">
          <div class="circle-sem-video">
            <i class="fa far fa-bookmark icons-fav"></i>
          </div>
          <p class="p-sem-video">Nenhum vídeo encontrado</p>
          <p>Tente ajustar os filtros de busca ou categoria.</p>
        </div>

    </main>
    <script src='/js/script.js'></script>
</body>
</html>
